<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../../imports.ejs') %>
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/admin.css"
  />
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/menuNav.css"
  />
</head>

<body>
  <header><%- include('./layout/layout.ejs') %></header>
  <%-include('../components/toast/toast.ejs')%>
  <main class="d-flex flex-row">
    <%- include('./admin/adminNav.ejs') %>

    <data>
      <div class="data-top">
        <h1 class="">Users</h1>
        <a
            href="/admin/users/create"
            class="button button-primary"
        >Add User</a>
      </div>
      <table
          align="center"
          class="users-table"
      >
        <tr class="table-head">
          <th class="table-cell name">Name/Email</th>
          <th class="table-cell id">ID</th>
          <th class="table-cell auth">Authorities</th>
          <th class="table-cell actions"></th>
        </tr>
        <tbody class="table-body">
          <% users.map((user)=> { %>
          <tr
              class="table-row"
              id="<%= user.userId %>"
          >
            <td
                class="table-cell name"
                data-toggle="tooltip"
                title="<%= user.name%> <%=user.surname%>"
            >
              <b><%= user.name%> <%=user.surname%></b>
              <p class="email"><%= user.email%></p>
            </td>
            <td class="table-cell id">
              <div class="tag tag-center">
                <%= user.userId%>
              </div>
            </td>
            <td class="table-cell auth">
              <div class="tag tag-right">
                <%= user.authorities%>
              </div>
            </td>
            <td class="table-cell actions dropdown">
              <button
                  id="actions-button-<%= user.userId %>"
                  class="button menu-button button-link-neutral bi bi-three-dots-vertical"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
              ></button>
              <div
                  id="actions-<%= user.userId %>"
                  class="dropdown-menu dropdown-menu-end"
              >
                <a
                    href="/admin/users/<%= user.userId%>"
                    class="dropdown-item"
                    type="button"
                >
                  <i class="bi bi-pencil"></i> Edit
                </a>
                <button
                    id="<%=user.userId%>"
                    onclick="userDelete(event)"
                    class="dropdown-item"
                    type="button"
                >
                  <i class="bi bi-trash"></i> Delete
                </button>
              </div>
            </td>
          </tr>
          <%}) %>
        </tbody>
        <tfoot class="table-footer"></tfoot>
      </table>
    </data>
  </main>
  <script src="/features/admin/users/frontend/utils.js"></script>
  <script src="/features/layout/frontend/utils.js"></script>
  <%-include('../scripts.ejs')%>

</body>

</html>