<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../imports.ejs') %>
  </head>

  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <main class="d-flex flex-row">
      <menu class="admin-menu d-flex flex-column">
        <a href="/admin/products"> products</a>
        <a href="/admin/users"> users</a>
      </menu>
      <data>
        <div class="d-flex flex-row">
          <h1>Users</h1>
          <button class="button button-primary">Add user</button>
        </div>
        <table>
            <thead>
              <tr>
                <td  class="name-mail">Name/Email</td> 
                <td class="id">ID</td>
                <td>Authorities</td>
              </tr>
              </thead>
              <tbody>              
              <% users.map((user) =>  { %>
              <tr>
                <td class='name'><p><b><%= user.name%> <%=user.surname%></p></b><p><%= user.email%></p> </td>
                <td class='name'><%= user.user_id%> </td>
                <td class='name'><%= user.authorities%> </td>
                <td class='name'><%= user.name%> </td>
              </tr>
              <%}) %>
            </tbody>
        </table>
      </data>
    </main>
  </body>
</html>
