<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Admin - Raul's butcher shop</title>
  <%- include('../../../imports.ejs') %>
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/admin.css"
  />
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/layout/menuNav.css"
  />
</head>

<body>
  <header><%- include('./layout/layout.ejs') %></header>
  <main>
    <%- include('./admin/adminNav.ejs') %>

    <data>
      <div class="data-top">
        <h1 class="">Orders</h1>
      </div>
      <table class="orders-table">
        <thead class="table-head">
          <th class="table-cell status"></th>

          <th class="table-cell name">Client</th>
          <th class="table-cell id">ID</th>
          <th class="table-cell date">Order Date</th>
          <th class="table-cell  recovery">Recovery</th>
          <th class="table-cell price">Price</th>
          <th class="table-cell actions"></th>
        </thead>

        <tbody class="table-body">
          <% orders.map((order)=> { %>
          <tr
              class="table-row"
              id="<%=order.orderId%>"
          >
            <td class="table-cell status">
              <%if(order?.isDone){%>
              <i class="tag-status tag-green bi-check p-sm-1"></i>
              <%}else{%>
              <i class="tag-status tag-warning  bi bi-clock p-sm-1"></i>
              <%}%>
          </td>
            <td
                class="table-cell name"
                data-toggle="tooltip"
                title="<%= order.name%> <%=order.surname%>"
              >
              <b><%= order.name%> <%=order.surname%></b>
              <p class="email"><%= order.email%></p>
              <a
                  class="link-box"
                  href="/admin/orders/<%=order.orderId%>"
              ></a>
            </td>
            <td class="table-cell id">
              <div class="tag tag-center">
                <%= order.orderId %>
              </div>
            </td>
            <td class="table-cell date">
              <%= order.orderDate.split('/').map((el, index) => {
                const intEl = index === 1 ? +el + 1 : +el
                return intEl < 10 ? `0${intEl}` : `${intEl}`
              }) .join('/')%>
            </td>
            <td class="table-cell date recovery">
              <%= order.recoveryDate.split('/').map((el, index) => {
                const intEl = index === 1 ? +el + 1 : +el
                return intEl < 10 ? `0${intEl}` : `${intEl}`
              }) .join('/')
              %>
            </td>

            <td class="table-cell price"><b><%= order.totalPrice %>€</b></td>
            <td class="table-cell actions dropdown">
              <button
                  id="actions-button-<%= order.orderId %>"
                  class="button menu-button button-link-neutral bi bi-three-dots-vertical"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
              ></button>
              <div
                  id="actions-<%= order.orderId %>"
                  class="dropdown-menu dropdown-menu-end"
              >
                <button
                    class="dropdown-item"
                    type="button"
                    id="<%= order.orderId %>-<%=order.isDone%>"
                    onclick="changeStatus(event)"
                    role="button"
                >
                  <i class="bi bi-arrow-repeat"></i> Change Status
                </button>
                <button
                    class="dropdown-item text-danger"
                    type="button"
                    id="<%=order.orderId%>_<%=order.orderId%>"
                    data-bs-toggle="modal"
                    data-bs-target=".modal-delete-confirm"
                    onclick="populateModal(event)"
                >
                  <i class="bi bi-trash"></i> Delete
                </button>
              </div>
            </td>
          </tr>
          <%}) %>
        </tbody>

        <tfoot class="table-footer"></tfoot>
      </table>
    </data>
    <%- include('../../../components/modal/modalDeleteConfirm.ejs', {itemType: 'order'}) %>

  </main>
  <script src="/views/layout/frontend/utils.js"></script>
  <script src="/views/admin/orders/frontend/utils.js"></script>

  <%-include('../scripts.ejs')%>
  <script>
    const changeStatus = (event) => {
      const [orderId, isDoneStr] = $(event.currentTarget).attr("id").split("-");
      const isDone = isDoneStr === "1" ? "0" : "1";

      $.ajax({
        url: `/admin/orders/${orderId}`,
        type: "PUT",
        data: {
          isDone: isDone
        },
        success: (res) => {
          toastSuccess("Status changed correctly")
          $('.orders-table .status').html(`
            <i class="tag-status ${+isDone ? 'tag-green bi-check' : 'tag-warning  bi bi-clock'} p-sm-1"></i>`)
        },
        error: (xhr) => {
          toastError(xhr.status + xhr.statusText);
          hideLoading();
        },
      })
    }
  </script>
</body>

</html>