<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Admin - Raul's butcher shop</title>

  <%- include('../../../imports.ejs') %>
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/orderDetails.css"
  />
</head>

<body>
  <header><%- include('./layout/layout.ejs') %></header>
  <%- include('./layout/mainbar.ejs', {title: "Orders", backLink: onAdmin ? "/admin/orders" : "/account/my-orders"}) ;%>
  <main class="d-flex flex-row">
    <div class="order-container d-flex flex-column">
      <%orderProducts.map((product) => {%>
      <div class="product-row d-flex">
        <div><%=product.productName%></div>
        <div>
          <%=product.quantity%> x <%=product.productPrice%> =
          <%=product.quantity*product.productPrice%>
        </div>
        <div></div>
      </div>
      <%})%>
      <div class="order-summary d-flex">
        <b>Total: </b> <%=orderProducts?.totalPrice%>
      </div>
    </div>
  </main>
  <script src="/views/admin/users/frontend/utils.js"></script>
  <script src="/views/layout/frontend/utils.js"></script>
  <%-include('../scripts.ejs')%>

</body>

</html>