<div class="row justify-content-center">
  <div class="
    form-group
    col-9">
    <label for="name"><%= t('shop.name') %></label>
    <input
        name="name"
        type="text"
        class="form-control"
        id="name"
        value="<%=product?.name%>"
        required
    />
  </div>
  <div class="form-group col-3">
    <label for="stock"><%= t('shop.stock') %></label>
    <input
        name="stock"
        type="number"
        step="0.01"
        class="form-control"
        id="stock"
        value="<%=product?.stock%>"
        required
    />
  </div>
</div>
<div class="form-group justify-content-center">
  <label for="image"><%= t('shop.image') %></label>
  <input
      name="image"
      type="file"
      id="image"
      class="form-control"
      value="<%=product?.image%>"
  />
</div>
<div class="row justify-content-center">
  <div class="form-group col-md-5">
    <label for="price"><%= t('shop.defaultPrice') %></label>
    <input
        name="price"
        type="number"
        step="0.01"
        class="form-control"
        id="price"
        value="<%=product?.price%>"
        required
    />
  </div>
  <div class="form-group col-md-5">
    <label for="salePrice"><%= t('shop.discountedPrice') %></label>
    <input
        name="salePrice"
        type="number"
        step="0.01"
        class="form-control"
        id="salePrice"
        value="<%=product?.salePrice ?? ""%>"
        <%if(product?.sale){%>required<%} else{%>
        disabled
        <%}%> />
  </div>
  <div class="form- col-md-2">
    <label for="sale"><%= t('shop.sale') %></label>
    <select
      class="form-select"
      name="sale"
      id="sale"
      onclick="setIsRequired(event)"
      required
    >
    <%if(product?.sale){%>
        <option
        value="1"
        selected
    >
    <div class="bg-warning">SI</div>
    </option>
    <option value="0">
      NO
    </option>
    <%} else {%>
    <option value="1">SI</option>
    <option
        value="0"
        selected
    >NO</option>
    <%}%>
       
    </select>
  </div>
</div>
<div class="form-group">
  <label for="category"><%= t('shop.category') %></label>
  <select
      class="form-select col-md-1"
      name="category"
      id="category"
      onclick="setIsRequired(event)"
      required
  >
    <option value="Ternera" selected><%= t('shop.beef') %></option>
    <option value="Pollo"><%= t('shop.chicken') %></option>
    <option value="Cerdo"><%= t('shop.pig') %></option>
    <option value="Elaborado"><%= t('shop.processing') %></option>
  </select>
</div>
<div class="form-group">
  <label for="description"><%= t('shop.description') %></label>
  <textarea
      name="description"
      type="textarea"
      id="description"
      class="form-control textarea"
      value="<%=product?.description%>"
    ></textarea>
  </div>