<!doctype html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Admin - Raul's butcher shop</title>

  <%- include('../../imports.ejs') %>

  <link
      rel="stylesheet"
      type="text/css"
      href="/css/admin.css"
  />
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/layout/actionbar.css"
  />
</head>

<body>
  <header><%- include('./layout/layout.ejs') %></header>
  <%- include('./layout/mainbar.ejs', {title: t('admin.products'), backLink: "/admin/products"}) ;%>

  <main class="d-flex flex-column align-items-center">
    <form
        class="d-flex justify-content-center"
        action="/admin/products/create"
        method="post"
        role="form"
        onsubmit="productCreate(event)"
    >
      <div class="form justify-content-center w-100">
        <%- include('./admin/products/productForm.ejs')%>
      </div>
      <%- include('./layout/actionbar.ejs', {leftButtonTitle: t('action.cancel') , rightButtonTitle:t('admin.createProduct')})%>
    </form>
  </main>
  <script src="/views/admin/products/frontend/utils.js"></script>
  <%- include('../scripts.ejs')%>
  <script>
    const setIsRequired = (event) => {
      const isSale = +$(event.currentTarget).val();
      if (isSale === 1) {
        $("input[name='salePrice']")
          .removeAttr("disabled")
          .attr("required", true);
      } else if (+isSale === 0) {
        $("input[name='salePrice']")
          .attr("disabled", "disabled")
          .attr("required", false);
      }
    };
  </script>

</body>

</html>