<!-- Author : Noé TATOUD -->
<!doctype html>
<html lang="en">
  <head>
    <%- include('../../../imports.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/orderNav.css" />
  </head>
  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <main class="d-flex flex-column align-items-center">

      <%- include('../orderNav.ejs') %>
      <div class="products">
        <% products.map((product) => {%>
          <div class="row">
            <%= product.name %>
            <%= product.price %>
            <%= product.quantity %>
          </div>
          <% })%>
        </div>
      <a href="/order/infos" class="button button-primary">Purchase -></a>
      
    </main>
  </body>
</html>
