<!doctype html>
<html lang="en">

<head>
  <title>Account - Raul's butcher shop</title>
  <%-include('../../../imports.ejs')%>
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/account.css"
  />
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/layout/menuNav.css"
  />
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/myOrders.css"
  />
</head>

<body>
  <header><%- include('./layout/layout.ejs') %></header>
  <%- include('../../../components/toast/toast.ejs')%>
  <%-include('./layout/mainbar.ejs', {title: `Bienvenido ${accountName}`,
      backLink:"./"})%>
  <main class="d-flex">
    <%- include('./account/accountNav.ejs') %>
    <data class="d-flex flex-column align-items-start">
      <div class="profile-title">My orders</div>
      <div class="d-flex flex-column gap-2 w-100 h-100">
        <%if(!orders.length) {%>
        <div class="d-flex flex-column w-100 h-100 align-items-center justify-content-center gap-3">
          You do not have any order
          <div class="d-flex gap-1 my-2">

            <a
                href="/shop"
                class="button button-primary"
            >Keep shoping</a>

            <a
                href="
                /shop"
                class="button button-link"
            >Validate your cart <i class="bi bi-arrow-right"></i></a>.
          </div>

        </div>
        <%} else {%>
        <b>
          <div class="d-flex w-100 h-100 justify-content-between px-4">
            <p>ID</p>
            <p>Recovery date</p>
            <p>Price</p>
            <p>Factura</p>
          </div>
        </b>

        <%orders.map((order) => {%>
        <div class="orders-container d-flex position-relative">
          <a
              href="/account/my-orders/<%=order.orderId%>"
              class="position-absolute w-100 h-100"
          ></a>
          <div class="id">
            <%=order.orderId%>
          </div>
          <div>
            <%= 
        String(order.recoveryDate.getDate()).padStart(2, '0')
        +'/'
        +String(order.recoveryDate.getMonth()+1).padStart(2, '0')
        +'/'
        + order.recoveryDate.getFullYear()%>
          </div>
          <div>
            <%=order.totalPrice%>€
          </div>
          <a
              class="button button-secondary"
              type="button"
              role="button"
              href="/account/my-orders/pdf/<%=order.orderId%>"
              aria-label="Download pdf bill"
              data-bs-toggle="tooltip"
              title="Download pdf bill"
          ><i class="bi bi-download"></i></a>
        </div>
        <%})}%>
      </div>
      <%- include('../../../components/toast/toast.ejs')%>
    </data>
  </main>
  <script src="/views/layout/frontend.js"></script>
  <%-include('../scripts.ejs')%>
</body>

</html>