<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Admin - Raul's butcher shop</title>
  <%- include('../../../imports.ejs') %>
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/admin.css"
  />
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/layout/menuNav.css"
  />
</head>

<body>
  <header><%- include('./layout/layout.ejs') %></header>
  <%-include('../components/toast/toast.ejs')%>
  <main class="d-flex">
    <%- include('./admin/adminNav.ejs') %>

    <data>
      <div class="data-top">
        <h1 class="">Users</h1>

        <a
            href="/admin/users/create"
            class="button button-primary create"
        >
          <i class="bi bi-plus-lg"></i>
          <p>Create User</p>
        </a>
      </div>
      <table
          align="center"
          class="users-table"
      >
        <tr class="table-head">
          <th class="table-cell name">Name/Email</th>
          <th class="table-cell id">ID</th>
          <th class="table-cell auth">Authorities</th>
          <th class="table-cell actions"></th>
        </tr>
        <tbody class="table-body">
          <% users.map((user)=> { %>
          <tr
              class="table-row"
              id="<%= user.userId %>"
          >
            <td
                class="table-cell name"
                data-toggle="tooltip"
                title="<%= user.name%> <%=user.surname%>"
            >
              <b><%= user.name%> <%=user.surname%></b>
              <p class="email"><%= user.email%></p>
            </td>
            <td class="table-cell id">
              <div class="tag tag-center">
                <%= user.userId%>
              </div>
            </td>
            <td class="table-cell auth">
              <div class="tag tag-right">
                <%= user.authorities%>
              </div>
            </td>
            <td class="table-cell actions dropdown">
              <button
                  id="actions-button-<%= user.userId %>"
                  class="button menu-button button-link-neutral bi bi-three-dots-vertical"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
              ></button>
              <div
                  id="actions-<%= user.userId %>"
                  class="dropdown-menu dropdown-menu-end"
              >
                <a
                    href="/admin/users/<%= user.userId%>"
                    class="dropdown-item"
                    type="button"
                >
                  <i class="bi bi-pencil"></i> Edit
                </a>
                <button
                    class="dropdown-item text-danger"
                    type="button"
                    id="<%=user.userId%>_<%=user.email%>"
                    data-bs-toggle="modal"
                    data-bs-target=".modal-delete-confirm"
                    onclick="populateModal(event)"
                >
                  <i class="bi bi-trash"></i> Delete
                </button>
              </div>
            </td>
          </tr>
          <%}) %>
        </tbody>
        <tfoot class="table-footer"></tfoot>
      </table>
    </data>
    <%- include('../../../components/modal/modalDeleteConfirm.ejs', {itemType: 'user'}) %>

  </main>
  <script src="/views/admin/users/frontend/utils.js"></script>
  <script src="/views/layout/frontend.js"></script>

  <%-include('../scripts.ejs')%>

</body>

</html>