<!-- Author : Noé TATOUD -->
<!doctype html>
<html lang="en">

<head>
  <%- include('../../../imports.ejs') %>
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/layout/orderNav.css"
  />
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/order/infos.css"
  />
  <link
      rel="stylesheet"
      type="text/css"
      href="/css//layout/actionbar.css"
  />
</head>

<body>
  <header><%- include('./layout/layout.ejs') %></header>
  <main class="d-flex flex-column align-items-center">
    <%- include('../orderNav.ejs') %>
    <div class="progress-bar d-flex flex-row">
      <span class="billing current bi bi-check">
        Dirección de facturación
      </span>
      <span class="contact pending bi bi-chevron-right"> Contacto </span>
      <span class="recovery pending bi bi-chevron-right"> Recogida </span>
    </div>

    <form
        class="d-flex flex-column align-items-center"
        action="/order/infos"
        method="POST"
        onsubmit="infosPost(event)"
        novalidate
    >
      <div class="form-step billing">
        <div class="form">
          <h2>Dirección de facturación</h2>
          <div class="row">
            <div class="form-group col-md-5">
              <label for="city">Ciudad</label>
              <input
                  class="form-control required"
                  type="text"
                  id="city"
                  name="city"
                  required
              />
            </div>
            <div class="form-group col-md-3">
              <label for="postalCode">Código postal</label>
              <input
                  class="form-control required"
                  type="text"
                  id="postalCode"
                  name="postalCode"
                  required
              />
            </div>
            <div class="form-group col-md-4">
              <label for="country">País</label>
              <input
                  class="form-control required"
                  type="text"
                  id="country"
                  name="country"
                  required
              />
            </div>
          </div>
          <div class="form-group">
            <label for="address">Dirección</label>
            <input
                class="form-control required"
                type="text"
                id="address"
                name="address"
                required
            />
          </div>
        </div>
        <span class="form-nav">
          <p>1/3</p>
          <button
              type="button"
              class="button button-secondary next"
              onclick="changeView('billing', 'contact', 'next')"
          >
            Contacto ->
          </button>
        </span>
      </div>

      <div
          class="form-step contact"
          style="display: none"
      >
        <div class="form">
          <h2>Contacto</h2>
          <div class="form-group">
            <label for="phone">Teléfono</label>
            <div class="input-group">
              <input
                  class="form-control"
                  type="tel"
                  id="phone"
                  name="phone"
                  aria-describedby="phoneHelp"
              />
              <div class="input-group-append">
                <div class="input-group-text bi bi-telephone"></div>
              </div>
            </div>
            <small
                id="phoneHelp"
                class="form-text text-muted"
            >Para que podamos avisar en caso de algún problema.</small>
          </div>
          <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input
                class="form-control"
                type="email"
                id="email"
                name="email"
                aria-describedby="emailHelp"
            />
            <small
                id="emailHelp"
                class="form-text text-muted"
            >Si es diferente del correo electrónico de la cuenta.</small>
          </div>
        </div>

        <span class="form-nav">
          <button
              type="button"
              class="button button-secondary prev"
              onclick="changeView('contact', 'billing', 'back')"
          >
            <-
                Dirección
                de
                facturación
                </button
            >
              <p>2/3</p>
              <button
                  type="button"
                  class="button button-secondary next"
                  onclick="changeView('contact', 'recovery', 'next')"
                  onsubmit="showRequiredFields(event)"
              >
                Recogida ->
              </button>
        </span>
      </div>

      <div
          class="form-step recovery"
          style="display: none"
      >
        <div class="form">
          <h2>Recogida</h2>
          <div class="form-group row">
            <div class="form-group col-md-4">
              <label for="recoveryDay">Fecha de recogida</label>
              <input
                  class="form-control required"
                  type="date"
                  id="recoveryDay"
                  name="recoveryDay"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="recoveryTime">Hora</label>
              <input
                  class="form-control required"
                  type="time"
                  id="recoveryTime"
                  name="recoveryTime"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="comment">Comentarios</label>
            <textarea
                class="form-control form-text-area"
                id="comment"
                name="comment"
            ></textarea><br />
          </div>
        </div>

        <span class="form-nav">
          <button
              type="button"
              class="button button-secondary prev"
              onclick="changeView('recovery', 'contact', 'back')"
          >
            <-
                Contacto
                </button
            >
              <p>3/3</p></span>
      </div>
      <%- include('./layout/actionbar.ejs', {leftButtonTitle: "<- Carrito", rightButtonTitle:"Confirmar compra"}) %>
    </form>
    <div class="toast-container"></div>
    <script>
      const changeView = (fromView, toView, direction) => {
        const progressBarPrevious = $(`.progress-bar .${fromView}`);
        const progressBarCurrent = $(`.progress-bar .${toView}`);
        const previousStep = $(`.form-step.${fromView}`);
        const currentStep = $(`.form-step.${toView}`);
        // i.e. if at least one required form is not filled
        if (
          $(`.form-step.${fromView} .required`).filter(
            (_, input) => !$(input).val()
          ).length &&
          direction === "next"
        )
          return;
        progressBarPrevious.removeClass("current");
        progressBarCurrent.addClass("current");
        if (direction === "next") {
          progressBarPrevious.addClass("completed");
        } else {
          progressBarCurrent.removeClass("completed");
        }
        if (toView === "recovery") {
          $("button.submit").show();
        } else {
          $("button.submit").hide();
        }
        previousStep.hide();
        previousStep.find(".required").removeAttr("required");
        currentStep.show();
        currentStep.find(".required").attr("required", true);
      };
      $(window).keydown(function(event) {
        if (event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });
      $("button.submit").hide();
    </script>
  </main>
  <%-include('../scripts.ejs')%>

  <script src="/features/order/infos/frontend/utils.js"></script>
  </script>
</body>

</html>