<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../imports.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
  </head>

  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <main class="d-flex flex-row">
      <%- include('./admin/adminNav.ejs') %>

      <data>
        <div class="data-top">
          <h1 class="">Orders</h1>
        </div>
        <table class="orders-table">
          <thead class="table-head">
            <th class="table-cell name">Client</th>
            <th class="table-cell id">Id</th>
            <th class="table-cell date">Order Date</th>
            <th class="table-cell date">Recovery Date</th>
            <th class="table-cell price">Total price</th>
            <th class="table-cell status">Status</th>
            <th class="table-cell actions"></th>
          </thead>

          <tbody class="table-body">
            <% orders.map((order)=> { %>
            <tr class="table-row">
              <td
                class="table-cell name"
                data-toggle="tooltip"
                title="<%= order.user_name%> <%=order.user_surname%>"
              >
                <b><%= order.user_name%> <%=order.user_surname%></b>
                <p class="email"><%= order.user_email%></p>
                <a href="/admin/orders/<%=order.order_id%>"></a>
              </td>
              <td class="table-cell id"><%= order.order_id %></td>
              <td class="table-cell date">
                <%= String(order.order_date.getDate()).padStart(2,
                '0')+"/"+String(order.order_date.getMonth() + 1).padStart(2,'0')
                +"/"+order.order_date.getFullYear()%>
              </td>
              <td class="table-cell date">
                <%= String(order.recovery_date.getDate()).padStart(2,
                '0')+"/"+String(order.recovery_date.getMonth() +
                1).padStart(2,'0') +"/"+order.recovery_date.getFullYear()%>
              </td>

              <td class="table-cell price"><%= order.total_price %></td>
              <th class="table-cell status">Done</th>
              <td class="table-cell actions dropdown">
                <button
                  id="actions-button-<%= order.order_id %>"
                  class="button menu-button button-link-neutral bi bi-three-dots-vertical"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                ></button>
                <div
                  id="actions-<%= order.order_id %>"
                  class="dropdown-menu dropdown-menu-end"
                >
                  <button class="dropdown-item" type="button">
                    <i class="bi bi-arrow-repeat"></i> Change Status
                  </button>
                </div>
              </td>
            </tr>
            <%}) %>
          </tbody>
        </table>
      </data>
    </main>
    <script src="/features/admin/frontend/utils.js"></script>
  </body>
</html>
