<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../imports.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
  </head>

  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <%- include('./layout/mainbar.ejs', {title: "Orders", backLink: ""}) %>
    <main class="d-flex flex-row">
      <div class="order-container d-flex flex-column">
        <%orderProducts.map((product) => {%>
        <div class="product-row d-flex">
          <div><%=product.productName%></div>
          <div>
            <%=product.quantity%> x <%=product.productPrice%> =
            <%=product.quantity*product.productPrice%>
          </div>
          <div></div>
        </div>
        <%})%>
        <div class="order-summary d-flex">
          <b>Total: </b> <%=orderProducts[0].totalPrice%>
        </div>
      </div>
      <!-- -->
      <div class="toast show">
        <div class="toast-header">
          Toast Header
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
          ></button>
        </div>
        <div class="toast-body">Some text inside the toast body</div>
      </div>
      <button id="toastbtn">toast</button>
      <!-- -->
    </main>
    <script src="/features/admin/users/frontend/utils.js"></script>
    <script src="/features/layout/frontend/utils.js"></script>
    <script>
      // document.getElementById("toastbtn").onclick = function () {
      //   var toastElList = [].slice.call(document.querySelectorAll(".toast"));
      //   var toastList = toastElList.map(function (toastEl) {
      //     return new bootstrap.Toast(toastEl);
      //   });
      //   toastList.forEach((toast) => toast.show());
      // };
    </script>
  </body>
</html>
