<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../imports.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
  </head>

  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <%- include('./layout/mainbar.ejs') %>
    <div class="toast show">
      <div class="toast-header">
        Toast Header
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
        ></button>
      </div>
      <div class="toast-body">Some text inside the toast body</div>
    </div>
    <button id="toastbtn">toast</button>
    <main class="d-flex flex-row">
      <div class="order-container d-flex flex-column">
        <%orderProducts.map((product) => {%>
        <div class="product-row d-flex">
          <div><%=product.product_name%></div>
          <div>
            <%=product.quantite%> x <%=product.product_price%> =
            <%=product.quantite*product.product_price%>
          </div>
          <div></div>
        </div>
        <%})%>
        <div class="order-summary d-flex">
          <b>Total: </b> <%=orderProducts[0].total_price%>
        </div>
      </div>
    </main>
    <script src="/features/admin/users/frontend/utils.js"></script>
    <script src="/features/admin/frontend/utils.js"></script>
    <script>
      document.getElementById("toastbtn").onclick = function () {
        var toastElList = [].slice.call(document.querySelectorAll(".toast"));
        var toastList = toastElList.map(function (toastEl) {
          return new bootstrap.Toast(toastEl);
        });
        toastList.forEach((toast) => toast.show());
      };
    </script>
  </body>
</html>
