<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../imports.ejs') %>
  </head>
  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <main class="d-flex flex-column align-items-center">
      <%- include('./auth/auth-tab.ejs') %>
      <form
        class="form signup-form d-grid"
        action="/auth/signup"
        method="post"
        role="form"
      >
        <h2>Sign Up</h2>
        <%if(error.state) {%>
        <span class="credential-error bi bi-exclamation-triangle">
          <%=error.message%>
        </span>
        <%}%>
        <div class="d-flex flex-row gap-3">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              name="name"
              type="text"
              class="form-control"
              id="name"
              required
            />
          </div>
          <div class="form-group">
            <label for="surname">Surname</label>
            <input
              name="surname"
              type="text"
              class="form-control"
              id="surname"
              required
            />
          </div>
        </div>
        <%- include('./auth/email-password-form.ejs') %>
        <button type="submit" class="button button-primary" disabled>
          Create Account
        </button>
      </form>
    </main>
    <script>
      $("input#email").focusout((event) => {
        const email = $(event.target).val();
        $.post("/auth/signup/checkEmail", { email }, (data, status, xhr) => {
          if (status === "error") {
            alert("error" + xhr.status + " " + xhr.statusText);
          } else {
            if (data === "NOK") {
              $(".email.error").addClass("show");
              $("input#email").addClass("error");
              $("button[type='submit']").attr("disabled", "disabled");
            }
          }
        });
      });

      $("input#email").focusin((event) => {
        $(".email.error").removeClass("show");
        $("input#email").removeClass("error");
      });

      $("input#password").keyup((event) => {
        const password = $(event.target).val();
        $.post(
          "/auth/signup/checkPassword",
          { password },
          (data, status, xhr) => {
            if (status === "error") {
              alert("error" + xhr.status + " " + xhr.statusText);
            } else {
              if (data !== "OK") {
                $(".password.error").addClass("show");
                $("input#password").addClass("error");
                $(".password.error ul").html(
                  data.map((problem) => {
                    return `<li> ${problem}</li>`;
                  })
                );
                $("button[type='submit']").attr("disabled", "disabled");
              } else {
                $(".password.error").removeClass("show");
                $("input#password").removeClass("error");
              }
            }
          }
        );
      });

      $("input").keyup((event) => {
        if (
          !$(".error").hasClass("show") &&
          $("input#name").val() &&
          $("input#surname").val() &&
          $("input#email").val() &&
          $("input#password").val()
        ) {
          $("button[type='submit']").removeAttr("disabled");
        }
      });
    </script>
  </body>
</html>
