<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../../imports.ejs') %>
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/admin.css"
  />
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/menuNav.css"
  />
</head>

<body>
  <header><%- include('./layout/layout.ejs') %></header>
  <div class="toast-container"></div>
  <main>
    <%- include('./admin/adminNav.ejs') %>
    <data>
      <div class="data-top">
        <h1 class="">Products</h1>
        <a
            href="/admin/products/create"
            class="button button-primary"
        >Add product</a>
      </div>
      <table class="products-table">
        <tr class="table-head">
          <th class="table-cell name">Name</th>
          <th class="table-cell id">ID</th>
          <th class="table-cell price">Price</th>
          <th class="table-cell category">Category</th>
          <th class="table-cell stock">Stock</th>
          <th class="table-cell actions dropdown"></th>
        </tr>
        <tbody class="table-body">
          <% products.map((product)=> { %>
          <tr
              class="table-row"
              id="<%=product.productId%>"
          >
            <td
                class="table-cell name"
                data-toggle="tooltip"
                title="<%= product.name[0] + product.name.slice(1).toLowerCase()%> "
            >
              <%if(product.best){%><i
                  class="tag-award tag-error bi bi-award p-sm-1"
                  data-toggle="tooltip"
                  title="This product is one of the favorites"
              ></i><%}%>
              <%if(product.sale){%><i
                  class="tag-award tag-warning bi bi-percent p-sm-1"
                  data-toggle="tooltip"
                  title="This product is on sale"
              ></i><%}%>
              <b>
                <%= product.name[0] +
                  product.name.slice(1).toLowerCase()%>
              </b>
            </td>
            <td class="table-cell id">
              <div class="tag tag-center">
                <%= product.productId%>
              </div>
            </td>
            <td class="table-cell price">
              <%if(product.sale) {%>
              <p class="tag tag-top-left"><%= product.price%> <%= product.unit%></p>
              <p class="salePrice tag tag-bottom-left tag-warning">
                <%= product.salePrice%> <%= product.unit%>
              </p>
              <%}else {%>
              <p class="tag tag-left"><%= product.price%> <%= product.unit%></p>
              <%}%>
              </td>
            <td class="table-cell category">
              <div class="tag tag-left tag-blue">Category</div>
            </td>
            <td class="table-cell stock"><%if(product.stock === 0){%>
              <div class="tag tag-error tag-center">EMPTY</div>
              <%} else if(product.stock < 25){%>
              <div class="tag tag-warning tag-center">LOW</div>

              <%}else {%>
              <div class="tag tag-green tag-center">AVAILABLE</div>

              <%}%>
            </td>
            <td class="table-cell actions dropdown">
              <button
                  id="actions-button-<%= product.productId %>"
              class="button menu-button button-link-neutral bi bi-three-dots-vertical"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ></button>
              <div
                  id="actions-<%= product.productId %>"
                  class="dropdown-menu dropdown-menu-end"
              >
                <a
                    href="/admin/products/<%= product.productId%>"
                    class="dropdown-item"
                    type="button"
                ><i class="bi bi-pencil"></i> Edit</a>
                <button
                    id="<%=product.productId%>"
                    onclick="productDelete(event)"
                    class="dropdown-item"
                    type="button"
                >
                  <i class="bi bi-trash"></i> Delete
                </button>
              </div>
            </td>
          </tr>
          <%}) %>
        </tbody>
        <tfoot class="table-footer"></tfoot>
      </table>
    </data>
  </main>
  <div class="toast-container"></div>
  <script src="/features/admin/products/frontend/utils.js"></script>
  <script src="/features/layout/frontend/utils.js"></script>
  <%-include('../scripts.ejs')%>

</body>

</html>