<!-- Author : Noé TATOUD -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>About - Raul's butcher shop</title>

    <%- include('../../../imports.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/about/about.css" />
  </head>

  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <main>
      <h2><%=t('about.cookieTitle1')%></h2>
      <p><%=t('about.paragraph1')%></p>

      <h2><%=t('about.cookieTitle2')%></h2>
      <p><%=t('about.paragraph2')%></p>

      <h2><%=t('about.cookieTitle3')%></h2>
      <p><%=t('about.paragraph3')%></p>

      <h2><%=t('about.cookieTitle4')%></h2>
      <p><%=t('about.paragraph4')%></p>

      <h2><%=t('about.cookieTitle5')%></h2>
      <p><%=t('about.paragraph5')%></p>

      <h2><%=t('about.cookieTitle6')%></h2>
      <p><%=t('about.paragraph6')%></p>

      <h2><%=t('about.cookieTitle7')%></h2>
      <p><%=t('about.paragraph7')%></p>
    </main>
  </body>
  <%-include('../scripts.ejs')%>
</html>
