<!-- Author : Noé TATOUD -->
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Home - Raul's butcher shop</title>
  <%- include('../imports.ejs') %>

  <link
      rel="stylesheet"
      href="/css/home.css"
  />
</head>

<body>
  <header><%- include('./layout/layout.ejs') %></header>

  <%- include('../../../components/toast/toast.ejs')%>
  <main>
    <div class="banner">
      <div class="banner-content">
        <div class="title">
          <p class="add-on"><%= t('title.addOn') %></p>
          <p class="main you-order"><%= t('title.youOrder') %></p>
          <p class="main we-prepare"><b><%= t('title.wePrepare') %></b></p>
          <p class="main you-recover"><%= t('title.youRecover') %></p>

          <p class="rest"><%= t('title.headLine') %></p>
        </div>
        <div class="banner-body">
          <p><%= t('title.shortDesc') %></p>
          <div class="d-flex">

            <a
                href="/shop"
                type="button"
                role="button"
                class="button button-primary button-lg"
            ><i class="bi bi-shop"></i><%= t('title.shopLine') %></a>
            <a
                href="/contact"
                type="button"
                role="button"
                class="button button-link-neutral"
            ><%= t('title.findUs') %><i class="bi bi-arrow-right"></i></a>

          </div>
        </div>
      </div>
      <img
          src="/assets/images/home.webp"
          role="img"
          alt='Display of meets from the shop'
          aria-label="Display of meets from the shop"
      />

    </div>
    <div class="section section1 d-flex">
      <img
          src="/assets/images/cows_1.jpeg"
          alt="Illustration of cows"
      ></img>
      <div class="section-content">
        <p><%= t('home.sellingLine') %> <a class="text-emphasis"><b>Merca Sanfremin</b></a> <%= t('home.sinceLine') %></p>
        <table class="time-table">
          <tr>
            <td class="day"><b><%= t('home.monday') %></b></td>
            <td><%= t('home.mondayTime') %></td>
          </tr>
          <tr>
            <td class="day"><b><%= t('home.tuesday') %></b></td>
            <td><%= t('home.tuesdayTime') %></td>

          </tr>
          <tr>
            <td class="day"><b><%= t('home.wednesday') %></b></td>
            <td><%= t('home.wednesdayTime') %></td>

          </tr>
          <tr>
            <td class="day"><b><%= t('home.thursday') %></b></td>
            <td><%= t('home.thursdayTime') %></td>

          </tr>
          <tr>
            <td class="day"><b><%= t('home.friday') %></b></td>
            <td><%= t('home.fridayTime') %></td>

          </tr>
          <tr>
            <td class="day"><b><%= t('home.saturday') %></b></td>
            <td><%= t('home.saturdayTime') %></td>

          </tr>
          <tr>
            <td class="day"><b><%= t('home.sunday') %></b></td>
            <td><%= t('home.sundayTime') %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="section section2 d-flex">
      <div class="section-content">
        <div class="section-title"><%= t('home.an') %> <b><%= t('home.easy') %></b> <%= t('home.process') %>.</div>
        <ul>
          <li>
            <i class="bi bi-search"></i> <b><%= t('home.shopWord') %></b> <%= t('home.productsWord') %>
          </li>
          <li>
            <i class="bi bi-cursor"></i> <b><%= t('home.selectWord') %></b> <%= t('home.recoveryDate') %>
          </li>
          <li>
            <i class="bi bi-box-seam"></i> <b><%= t('home.pickUp') %></b> <%= t('home.yourOrder') %>
          </li>
        </ul>
      </div>
      <img
          src="/assets/images/display_1.jpeg"
          alt="Illustration of meat"
      ></img>

    </div>
  </main>
  <%-include('../scripts.ejs')%>
</body>

</html>