<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>My account - Raul's butcher shop</title>
  <%- include('../../../imports.ejs') %>

  <link
      rel="stylesheet"
      type="text/css"
      href="/css/account.css"
  />
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/layout/menuNav.css"
  />
</head>

<body>
  <header><%- include('./layout/layout.ejs') %></header>
  <%- include('../../../components/toast/toast.ejs')%>
  <%-include('./layout/mainbar.ejs', {title: `Bienvenido ${accountName}`,
    backLink:"./"})%>
  <main class="d-flex">
    <%- include('./account/accountNav.ejs') %>

    <data class="d-flex flex-column align-items-start">
      <div class="profile-title">Cambiar contraseña</div>

      <form
          class="form account-form d-grid"
          action="/account/password"
          method="POST"
          role="form"
      >
        <div class="form-group">
          <label for="oldPassword">Antigua contraseña</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i
                    class="bi bi-eye-slash"
                    id="togglePasswordOld"
                    onclick="togglePassword(event)"
                ></i>
              </div>
            </div>
            <input
                name="oldPassword"
                type="password"
                class="form-control"
                id="oldPassword"
                required
            />
          </div>
          <span
              class="passwordNotFoundError"
              style="color: red; display: none"
          >
            La contraseña no es correcta.
          </span>
        </div>
        <div class="form-group">
          <label for="newPassword">Nueva contraseña</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i
                    class="bi bi-eye-slash"
                    id="togglePasswordNew"
                    onclick="togglePassword(event)"
                ></i>
              </div>
            </div>
            <input
                name="newPassword"
                type="password"
                class="form-control"
                id="newPassword"
                onkeyup="checkPassword(event)"
                required
            />
          </div>
          <span class="newPassword error">Your password should:
            <ul></ul>
          </span>
        </div>
        <div class="form-group">
          <label for="newPasswordCheck">Confirma Nueva contraseña</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i
                    class="bi bi-eye-slash"
                    id="togglePasswordNewCheck"
                    onclick="togglePassword(event)"
                ></i>
              </div>
            </div>
            <input
                type="password"
                class="form-control"
                id="newPasswordCheck"
                onkeyup="areNewPasswordsEqual(event)"
                required
            />
          </div>
          <span
              id="passwordMismatch"
              style="display: none; color: red"
          >Las contraseñas no coinciden
          </span>
        </div>
        <div class="d-flex align-items-center justify-content-end">
          <button
              type="submit"
              class="button button-primary"
              disabled
          >
            Cambiar
          </button>
        </div>
      </form>
    </data>
  </main>
  <script src="/features/account/password/frontend/utils.js"></script>
  <script src="/components/form.js"></script>
  <script src="/features/layout/frontend/utils.js"></script>
  <script>
    $('input').on('keyup', (event) => {
      canSubmitChangePassword();
    });
  </script>
  <%-include('../scripts.ejs')%>

</body>

</html>