<div
    id="<%=product.productId%>"
    class="product-card<% if(product.stock === 0) { %> disabled<% }%>"
>
  <!-- CARD HEADER -->
  <div
      class="product-header"
      data-toggle="tooltip"
      title="<%=product.name%>"
  >
    <% if(product.sale) { %>
    <!-- Sale tag -->
    <div class="sale-tag">
      -<%=Math.round(100*(product.price-product.salePrice)/product.price)%>%
    </div>
    <% }%> <% if(product.best) { %>
    <!-- Best tag -->
    <div
        class="best-tag bi bi-award"
        data-toggle="tooltip"
        title="This product is one of the client's favorite !"
    ></div>
    <% }%>
    <!-- Out of order tag -->
    <% if(product.stock === 0) { %>
    <div class="product-empty-tag">Agotado</div>
    <% }%>
    <a href="/shop/<%=product.category.toLowerCase()%>/<%=product.productId%>">
      <img
          src="<%=!!product.image ? "/assets/images/products/"+product.image : "/assets/images/products/"+product.category.toLowerCase()+`.webp`%>"
          role="img"
          alt="Image showing the product <%=product.name[0] + product.name.toLowerCase().slice(1)%>"
          aria-label="Image showing the product <%=product.name[0] + product.name.toLowerCase().slice(1)%>"
      />
    </a>
    <div class="product-name">
      <%=product.name[0]+product.name.slice(1).toLowerCase()%>
    </div>
  </div>
  <!-- CARD BODY -->

  <div class="product-body">
    <!-- Product price -->
    <div class="product-price">
      <% if(product.sale) { %>
      <div class="normal-price"><%=product.price%></div>
      <i class="bi bi-arrow-right"></i>
      <div class="sale-price"><%=product.salePrice%> <%=product.unit%></div>
      <% } else {%><%=product.price%> <%=product.unit%><% }%>
    </div>
    <!-- Product Form -->
    <form
        action="/order/cart"
        class="product-form"
        method="post"
        role="form"
        onsubmit="cartProductAdd(event)"
    >
      <%- include('./productForm.ejs') %>
    </form>
  </div>
  <!-- CARD FOOTER -->
  <div class="product-footer">
    <a href="/shop/<%=product.category%>/<%=product.productId%>">
      <i class="bi bi-chevron-down"></i>
      Mas informaciones
    </a>
  </div>
</div>