<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../imports.ejs') %>
    <!-- Page specific styles -->
    <link rel="stylesheet" type="text/css" href="/css/product.css" />
  </head>
  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <%- include('./layout/mainbar.ejs') %>
    <main>
      <div class="product-details">
        <img
          src="/assets/images/products/<%=currentCategory%>.jpg"
          alt="product-image"
        /><%=product.name%>
      </div>
    </main>
  </body>
</html>
