<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../imports.ejs') %>
  <!-- Page specific styles -->
  <link
      rel="stylesheet"
      type="text/css"
      href="/css/shop/product.css"
  />
</head>

<body>
  <header><%- include('./layout/layout.ejs') %></header>
  <%- include('./layout/mainbar.ejs', {title: product?.name, backLink: ""}) %>
  <main>
    <div class="product-card">
      <img
          src="/assets/images/products/<%=product.image ?? `${currentCategory}.webp`%>"
          alt="product-image"
      />
      <div class="product-details">
        <div class="card-header">
          <div class="product-name">
            <%=product.name[0]+product.name.slice(1).toLowerCase()%>
          </div>
          <% if(+product.stock === 0) {%>
          <div class="product-stock tag-empty">
            Agotado<i class="bi bi-cart-x"></i>
          </div>
          <% } else if(product.stock < 25) {%>
          <div class="product-stock tag-warning">
            Solo queda <%=product.stock%><i class="bi bi-cart-check"></i>
          </div>
          <% } else {%>
          <div class="product-stock tag-full">
            Disponible <i class="bi bi-cart-check"></i>
          </div>
          <% } %>
        </div>
        <div class="card-body">
          <div class="product-price">
            <%=product.price%> <%=product.unit%>
          </div>
          <div class="product-desc"><%=product.description%></div>
        </div>
        <div class="card-footer">
          <form
              action="/order/cart"
              class="product-form"
              method="post"
              id="<%=product.productId%>"
              role="form"
              onsubmit="cartProductAdd(event)"
          >
            <%- include('./_partials/productForm.ejs')%>
          </form>
        </div>
      </div>
    </div>
  </main>
  <div class="toast-container"></div>
  <script>
    $(".button-quantity .button").on("click", (event) => {
      const add = $(event.currentTarget).hasClass("button-plus");
      let currentProductQuantity = $(`.product-card .quantity`)[0];

      if (currentProductQuantity.value <= 2) {
        $(`.product-card .button-minus`).attr("disabled", "disabled");
      }
      if (add) {
        currentProductQuantity.value = +currentProductQuantity.value + 1;
      } else {
        currentProductQuantity.value = +currentProductQuantity.value - 1;
      }

      if (currentProductQuantity.value === 1) {
        $(`.product-card .button-minus`).attr("disabled", "disabled");
      }

      if (currentProductQuantity.value > 1) {
        $(`.product-card .button-minus`).removeAttr("disabled");
      }
    });
  </script>
  <script src="/features/order/cart/frontend/utils.js"></script>
  <script src="/features/shop/frontend/productCard.js"></script>


</body>

</html>