<div class="form-group">
  <label for="newPassword"><%= t('auth.newPwd') %></label>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i
          class="bi bi-eye-slash"
          id="togglePasswordNew"
          onclick="togglePassword(event)"
        ></i>
      </div>
    </div>
    <input
      name="newPassword"
      type="password"
      class="form-control"
      id="newPassword"
      onkeyup="checkPassword(event)"
      required
    />
  </div>
  <span class="newPassword error d-flex align-items-start"
    ><%= t('auth.passwordShould') %>
    <ul></ul>
  </span>
</div>
<div class="form-group">
  <label for="newPasswordCheck">C<%= t('auth.confirmPwd') %></label>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <i
          class="bi bi-eye-slash"
          id="togglePasswordNewCheck"
          onclick="togglePassword(event)"
        ></i>
      </div>
    </div>
    <input
      type="password"
      class="form-control"
      name="confirmPassword"
      id="newPasswordCheck"
      onkeyup="areNewPasswordsEqual(event)"
      required
    />
  </div>
  <span id="passwordMismatch" style="display: none; color: red"
    ><%= t('auth.notMatching') %>
  </span>
</div>
<div class="d-flex align-items-center justify-content-end">
  <button type="submit" class="button button-primary" disabled>
    <%= t('auth.change') %>
  </button>
</div>
