<!doctype html>
<html lang="en">
  <head>
    <!-- Title -->
    <title><%= t('info.title') %></title>

    <%- include('../../imports.ejs') %>
  </head>

  <body>
    <header><%- include('./layout/layout.ejs') %></header>
    <%- include('../../../components/toast/toast.ejs')%>

    <main class="d-flex flex-column align-items-center justify-content-center">
      <form
        class="form login-form d-grid"
        action="/auth/reset"
        method="POST"
        role="form"
      >
        <h2><%= t('auth.resetPwd') %></h2>
        <div class="form-group">
          <label for="email"><%= t('info.email') %></label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            required
          />
          <small id="emailHelp" class="form-text text-muted"
            ><%= t('auth.usedEmail') %></small
          >
        </div>
        <div
          class="d-flex flex-row gap-3 align-items-center justify-content-between"
        >
          <a href="/auth/login" class="button align-items-center">
            <- <%= t('auth.goBack') %>
          </a>
          <button type="submit" class="button button-primary">
            <%= t('auth.sendEmail') %>
          </button>
        </div>
      </form>
    </main>
    <%-include('../scripts.ejs')%>
  </body>
</html>
