<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Auth - Raul's butcher shop</title>

  <%- include('../../imports.ejs') %>
</head>

<body>
  <header><%- include('./layout/layout.ejs') %></header>
  <main class="d-flex flex-column align-items-center">
    <%- include('./auth/auth-tab.ejs') %>
    <form
        class="form signup-form d-grid"
        action="/auth/signup"
        method="post"
        role="form"
    >
      <h2><%=t('auth.signup')%></h2>
      <%if(error.state) {%>
      <span class="credential-error bi bi-exclamation-triangle">
        <%=error.message%>
      </span>
      <%}%>
        <div class="d-flex flex-row gap-3">
          <div class="form-group">
            <label for="name"><%=t('auth.name')%></label>
      <input
          name="name"
          type="text"
          class="form-control"
          id="name"
          required
      />
      </div>
      <div class="form-group">
        <label for="surname"><%=t('auth.surname')%></label>
        <input
            name="surname"
            type="text"
            class="form-control"
            id="surname"
            required
        />
      </div>
      </div>
      <%- include('./auth/email-password-form.ejs', {type: "signup"}) %>
      <button
          type="submit"
          class="button button-primary"
          disabled
      >
        <%=t('auth.createAccount')%>
      </button>
    </form>
  </main>
  <script src="/components/form.js"></script>

  <script>
    $("input").on("keydown", () => {
      canSignUp();
    });
  </script>
  <%-include('../scripts.ejs')%>

</body>

</html>